@media (max-width: 991px){

	header{
		padding: 0px;
	}
	
	.lg{
		display: none;
	}
	.sg{
		display: block;
	}
	.menu-icon{
		display: block;
		
	}
	header nav{
		display: none;
	}
	.sidebar{
		display: block;
	}
	/*Head-1 img round*/
	.sqr{
	
	height: 100px;
	width:  100px;
  	margin-bottom: 5px;
	
	}
	.box h1{
		font-size: 35px;
	}
	.box p{
		font-size: 12px;
	}

	.social-icon li{
		width: 40px;
		height: 40px;
	}
	.social-icon li i{
		font-size: 20px;
	}



	.progress{
		width:340px;
	}
	.ytcontent iframe{
		width: 100%;
		
	}
	.rsm h2{
  		width: 28%; 
	}
	.lff h2{
		width: 32%;
	}
	.ytb h2{
  		width: 38%;
  	}	
  	.pkg h2{
		  font-size: 28px;
		  width: 47%;
	}
	.blg h2{
 		 width: 30%;
 	}
 	.ftr h2{
  		width: 30%; 
  		font-size: 28px;
  	}	
}

@media (max-width: 767px){


	.box h1{
		font-size: 32px;
	}
	.box p{
		font-size: 10px;
	}
	.rsm h2{
  		width: 35%; 
	}
	.lff h2{
		width: 45%;
	}
	.ytb h2{
  		width:50%;
  	}	
  	.pkg h2{
		  font-size: 25px;
		  width: 60%;
	}
	.blg h2{
 		 width: 40%;
 	}
 	.ftr h2{
  		width: 45%; 
  		font-size: 28px;
  	}
  	.about-me h2{margin-bottom: 20px;}
  	.about-me h3{font-size: 25px;}	
  	.about-me h4{font-size: 22px;}
  	.about-me p{font-size: 12px;}
  	.about-me h5{font-size: 16px;
  		margin-bottom: 10px;
  	}
  	.btn {
    	padding: 8px 10px;
    	font-size: 12px;
    	letter-spacing: 0px;
	}
	/*Skill progress bar*/
	.progress {
		width: 520px;
	}
}

@media (max-width:  575px)	{
	.box h1{
		font-size: 28px;
	}
	.box p{
		font-size: 8px;
	}
	/*Head-1 img round*/
	.sqr{
	
	height: 80px;
	width:  80px;
	}
	.from_input {
    	width: 80%;
	}
	.ytcontent iframe{
		width: 90%;
		
	}
	.blog_part img{
		width: 60%;
		height: 120px;
	}
	/*Skill progress bar*/
	.progress {
		width: 470px;
	}
}

@media (max-width: 481px) {
	.box h1{
		font-size: 28px;
	}
	/*Skill progress bar*/
	.progress {
		width: 420px;
	}
	.about-me h5{font-size: 14px;}
	.about-me h2{font-size: 28px;}
	.about-me p{font-size: 10px;}

	.box h1{
		font-size: 28px;
	}
	.box h4{
		font-size: 18px;
	}
	.rsm h2{
  		width: 45%;
  		 
	}
	.sec h2{
		width: 150px:;
	}
	.lff h2{
		width: 50%;
		
	}
	.port h2{
		  width: 180px;
	}

	.ytb h2{
  		width:55%;
  		
  	}	
  	.pkg h2{
		  font-size: 22px;
		  width: 60%;
	}
	.blg h2{
 		 width: 50%;
 	}
 	.ftr h2{
  		width: 50%; 
  		font-size: 25px;
  	}
  	/*Skill progress bar*/
	.progress {
		width: 100%;
	}
}


@media (max-width: 380px) {
	.box h1{
		font-size: 22px;
	}
	.box p{
		font-size: 8px;
		text-align: center;
	}
	.box h4{
		font-size: 14px;
	}
	.social-icon li{
		width: 35px;
		height: 35px;
	}
	.social-icon li i{
		font-size: 18px;
	}
	.about-me h2{margin-bottom: 20px;}
  	.about-me h3{font-size: 22px;}	
  	.about-me h4{font-size: 20px;}
  	.about-me p{font-size: 10px;}
  	.about-me h5{font-size: 12px;
  		margin-bottom: 10px;
  	}
  	.about-area{
		padding-top: 50px;
	}	
	.rsm h2{
  		width: 50%;	 
	}
	.lff h2{
		width: 55%;
		
	}
	.port h2{
		  width: 180px;
	}

	.ytb h2{
  		width:70%;
  		
  	}	
  	.pkg h2{
		  font-size: 20px;
		  width: 70%;
	}
	.blg h2{
 		 width: 50%;
 		 font-size: 22px;
 	}
 	.ftr h2{
  		width: 50%; 
  		font-size: 22px;
  	}

}


